<launch>

  <!-- Run the map server 5f_navigation.yaml -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find p3dx_navigation)/maps/map511_1003-1.yaml" output="screen"/>

  <!--- Run AMCL -->
  <include file="$(find p3dx_navigation)/launch/amcl.launch" />

<!--node name="amcl" pkg="amcl" type="amcl" output="screen"/-->

  <!--- Run move_base with parameters -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find p3dx_navigation)/config/p3dx_rosaria/testing_costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find p3dx_navigation)/config/p3dx_rosaria/testing_costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find p3dx_navigation)/config/p3dx_rosaria/testing_local_costmap.yaml" command="load" />
    <rosparam file="$(find p3dx_navigation)/config/p3dx_rosaria/testing_global_costmap.yaml" command="load" />
    <rosparam file="$(find p3dx_navigation)/config/p3dx_rosaria/testing_move_base1.yaml" command="load" />
  </node>

  <!-- Starting rosaria driver for motors and encoders -->
  <node name="rosaria" pkg="rosaria" type="RosAria" args="_port:=/dev/ttyUSB1">
  <remap from="rosaria/cmd_vel" to="cmd_vel"/>
  <remap from="rosaria/pose" to="odom"/>
  <!--<remap from="rosaria/sonar" to="sonar"/>-->

  </node>

<!-- Starting laser rosrun sicktoolbox_wrapper sicklms -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  
<!-- Starting laser tf -->
 <node name="RosAriaLaserTf" pkg="p3dx_navigation" type="RosAriaLaserTf.py" /> 

 <node name="static_tf" pkg="tf" type="static_transform_publisher" args="0.45 0 0 0 0 0 /base_link /sonar 100" />

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find p3dx_navigation)/config/p3dx_rosaria/navigation.rviz" />
</launch>
